.cardEnd {
    text-align: center;
    padding: 0 0 80px;

    h2 {
        font-family: 'Adobe Garamond Pro';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 0.02em;
        color: #14274A;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 37px;
        color: #14274A;
    }

    p:nth-child(3) {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 37px;
        color: #14274A;
    }

    a {
        font-size: 20px;
        color: #fff;
        background-color: #E0B973;
        border-radius: 5px;
        padding: 2px 5px 5px 5px;
        margin: 10px;
        transition: all.2s;

        &:hover {
            font-size: 22px;
            cursor: pointer;
        }

    }
}